{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
     <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="{% static 'css/templatemo-personal-style.css' %}">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
    <script src="{% static 'js/templatemo-personal-javascripts.js' %}"></script>
    

    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
